{% extends './base.html' %}

{% block title %}
  Registro de usuarios
{% endblock %}

{% block body %}
  <div class="row">
    <div class=" col-sm-12 col-md-6 col-lg-4 col-xl-4"> 
      <h2 class="d-flex justify-content-center">Gestión de usuarios</h2>
      <div class="card">
        <!-- <div class="card-body">
          <form class="/registrarUsuario" method="POST"> {% csrf_token %}
            <div class="mb-3">
              <div class="form-group">
                <input type="text" id="txtCedula" name="txtCedula" class="form-control" placeholder="Cédula" minlength="7" maxlength="15" required>
              </div>
            </div>

            <div class="mb-3">
                <div class="form-group">
                <input type="text" id="txtNombreCompleto" name="txtNombreCompleto" class="form-control" placeholder="Nombre Completo" required>
              </div>
            </div>

            <div class="mb-3">
              <div class="form-group">
                <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Teléfono" maxlength="15" required>
              </div>
            </div>

            <div class="mb-3">
              <div class="form-group">
                <input type="text" id="txtLiderReferido" name="txtLiderReferido" class="form-control" placeholder="Lider Referido" required>
              </div>
            </div>

            <div class="form-group">
              <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
            </div>

          </form>
        </div> -->
        <div class="card-body">
                <form action="/registrarUsuario/" method="POST">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCedula" name="txtCedula" class="form-control" placeholder="Cedula"
                            minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtNombreCompleto" name="txtNombreCompleto" class="form-control" placeholder="Nombre"
                            minlength="6" maxlength="6" required>
                    </div>
                    <div class="form-group">
                        <input type="text" id="txtTelefono" name="txtTelefono" class="form-control" placeholder="Telefono"
                            maxlength="50" required>
                    </div>
                    <!-- <div class="form-group">
                        <input type="text" id="txtLiderReferido" name="txtLiderReferido" class="form-control" min="1" max="9"
                            placeholder="Lider" required>
                    </div> -->
                    <div class="form-group">
                    {% for lider in Lider %}
                          {{ lider.nombre_completo }}
                    {% endfor %}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
            </div>
      </div>   
    </div>


    <div class=" col-sm-12 col-md-6 col-lg-8 col-xl-8"> 
      <div class="table-responsive py-2">
        <h1 class="d-flex justify-content-center">Listado de usuarios</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Cédula</th>
              <th>Nombre Completo</th>
              <th>Celular</th>
              <th>Lider Referido</th>
            </tr>
          </thead>
          <tbody>
            {% for c in personas %}
              <tr>
                <td> {{c.cedula}} </td>
                <td> {{c.nombre_completo}} </td>
                <td> {{c.telefono}} </td>
                <td> {{c.lider_referido}} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}